# pip install aws-cdk
aws-cdk.core==1.67.0
aws-cdk.aws-ec2==1.67.0
aws-cdk.aws-events==1.67.0
aws-cdk.aws-events-targets==1.67.0
aws-cdk.aws-elasticache-1.67.0
aws-cdk.aws-iam==1.67.0
aws-cdk.aws-lambda==1.67.0
aws-cdk.aws-logs==1.67.0
aws-cdk.aws-s3==1.67.0

# pip install
beautifulsoup4==4.9.3
boto3==1.15.16
botocore==1.18.16
feedparser==6.0.1
#fs==2.4.11
#fs-s3fs==1.1.1
googletrans==3.0.0
